# Environment
env
env/
.env*

# Database
db.sqlite3

# Static files
myblog/static/*
static/

# Media files
media/

# Pycache
*.pyc
*__pycache__/*

# VScode
.vscode/settings.json

# DS_Store
**/.DS_Store